header {
    margin-bottom: 50px;
}

@media (min-width: 768px) {
    header {
        margin-bottom: 90px;
    }
}

.nav {
    padding: 1rem;
    border-radius: 26px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.01) 0 1px 1px, rgba(0, 0, 0, 0.05) 0 4px 10px;
}

@media (min-width: 576px) {
    .nav {
        padding: 2rem;
    }
}

.nav .logo {
    margin-right: 1rem;
}

.nav .title {
    color: #262626;
    font-weight: 500;
}

@media (max-width: 576px) {
    .nav .title {
        font-size: 1.5rem;
    }
}